
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
    /****** Page one Start ******/
    /* CTA Area */
    .cta-content .cta-text {
      top: 45px;
    }
    /****** Page one End ******/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  /****** Page one Start ******/
    /* CTA Area */
  .cta-content .cta-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  /****** Page one End ******/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   /****** Page one Start ******/
  /* CTA Area */
   .cta-content .cta-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    }
    .cta-text.banner-content h2 {
      font-size: 26px;
      line-height: 22px;
    }
    .cta-text.banner-content h4 {
      font-weight: 500;
      font-size: 16px;
    }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
   /****** Page one Start ******/
    /* Banner Area */
    .banner-content h2 {
      font-size: 28px;
      line-height: 26px;
    }
    .banner-content h4 {
      font-size: 16px;
    }
    .banner-content a {
      font-size: 14px;
      margin-right: 15px;
    }
    .banner-content a i {
      font-size: 16px;
    }
    /* Cta Area */
    .cta-content {
      margin-top: 50px;
    }
    .cta-content .cta-text {
      position: static;
      padding-bottom: 30px;
    }
    .cta-content .cta-phone-banner {
      position: static;
    }
    /* Footer Area */
    .single-footer-wid {
      padding-bottom: 20px;
    }
    .footer-bottom-text {
      margin-top: 10px;
    }
    .copy-right-text p {
      line-height: 28px;
      font-size: 12px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
}